.input {
	width: 100%;
	position: relative;

	input {
		width: 100%;
		min-height: 2.5rem;
		padding: 1rem 0;
		border: 1px solid var(--gray);
		border-radius: 2px;
		background-color: transparent;
	}

	textarea {
		width: 100%;
		height: 10vh;
		border: 1px solid var(--gray);
		padding: 0.5em;
		resize: none;
		background-color: transparent;
	}

	.errorMessage {
		font-size: 1rem;
		margin: 0.5em;
		font-weight: bold;
		color: var(--errorRed);
	}
	.absolute {
		position: absolute;
	}
}

.withIcon {
	input {
		padding-left: 2.5em !important;
	}
	.iconWrapper {
		position: absolute;
		left: 0;
		top: 0;
		width: 2.5rem;
		height: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto 0;
	}
	.icon {
		color: rgba(0, 0, 0, 0.4);
		width: 100%;
	}
}
