.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: clamp(450px, 70%, 1920px);
	min-height: 80%;
}

@media (max-width: 500px) {
	.container {
		width: auto;
	}
}
