.wrapper {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	margin-top: 0.5rem;
	overflow: visible;
	button {
		border: none;
		min-width: min-content;
		width: 60px !important;
		height: 50px !important;
		padding: 0;
	}
}
