.item {
	cursor: pointer;
	padding: 1em 2em;
	color: var(--black);
	font-size: 1.2em;
	&:hover {
		background-color: var(--darkerWhite);
	}

	& a,
	& a:visited {
		color: var(--black);
	}

	.icon {
		margin-right: 0.75em;
	}
}
