.homepage {
	padding: 1em;
	text-align: center;
}

.headers {
	margin: 2em;
	font-size: 2em;
}

.welcomeHeader {
	text-decoration: underline;
	font-size: 1.5em;
	margin: -15px;
}

.appNameHeader {
	font-size: 2.25em;
}
