.wrapper {
	form {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		align-items: flex-end;
		.field {
			margin: 10px;
			margin-left: 0;
			flex-grow: 1;
		}
	}

	.buttonDiv {
		margin: 10px;
		margin-left: auto;
	}

	.submitButton {
		min-height: 1em;
		background-color: var(--black);
		color: white;
		border: 1px solid black;
		padding: 0.6em;
		border-radius: 5px;
		min-width: 90px;
		&:hover {
			cursor: pointer;
		}
	}
}
