.wrapper {
	width: clamp(200px, 100%, 70%);
	display: flex;
	flex-direction: row;
	border: 1px solid var(--gray);
	border-radius: 5px;
	padding: 2em;
	margin: auto auto 2em;
	box-shadow: var(--defaultBoxShadow);
}
