.handle {
	--size: 2rem;
	box-sizing: content-box !important;
	display: flex !important;
	justify-content: center !important;
	background: white !important;
	align-items: center;
	font-size: var(--size) !important;
	width: var(--size) !important;
	height: var(--size) !important;
	border: 3px solid black !important;
	margin: 0 calc(var(--size) * -1) !important;
	& > * {
		pointer-events: none !important;
	}
}
