.handle {
	--size: 2rem;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	color: white;
	background: var(--black) !important;
	align-items: center;
	font-size: var(--size);
	width: var(--size);
	height: var(--size);
	border: 3px solid black !important;
	margin: 0 calc(var(--size) * -1) !important;
	& > * {
		pointer-events: none;
	}
}
