.form {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	.name {
		textarea {
			font-size: 1em;
			font-weight: 500;
		}
	}
	input {
		border: none;
		&:disabled {
			color: var(--black);
		}
	}
	.status {
		font-size: 0.75em;
		margin: 0.5em 0;
		font-weight: bold;
	}
	.name {
		font-size: 1.5em;
		margin: 0.5em 0;
		font-weight: bold;
	}
	.date {
		input {
			padding: 0 !important;
		}
		color: var(--black);
	}
	.description {
		width: 100%;
		textarea {
			line-height: 1.5em;
			&:disabled {
				color: var(--secondaryText);
			}
		}
	}
	textarea {
		padding: 0;
		border: none;
		padding-bottom: 0.25em;
		&:focus {
			border-bottom: 1px solid var(--gray);
		}
		&:disabled {
			color: var(--black);
		}
	}
}
.buttons {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	margin-top: 1em;
	overflow: visible;
}

.form.editing {
	flex-direction: column;
	align-items: unset;

	label {
		display: inline-block;
	}
	textarea,
	input {
		border-bottom: 1px solid var(--gray);
	}
}

@media (max-width: 1200px) {
	.form {
		flex-direction: column;
		align-items: unset;
	}
}
