@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body * {
	font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
	--black: rgba(0, 0, 0, 0.85);
	--gray: rgba(0, 0, 0, 0.1);
	--secondaryText: rgba(0, 0, 0, 0.5);
	--errorRed: #cc0000;
	--blue: rgb(55, 118, 255);
	--darkBlue: hsl(221, 100%, 35%);
	--lightRed: hsla(0, 100%, 40%, 0.2);
	--green: hsl(138, 100%, 66%);
	--green: hsl(138, 100%, 30%);
	--lightGray: rgba(0, 0, 0, 0.05);
	--defaultBoxShadow: var(--lightGray) 0px 10px 25px;
	--defaultDarkerBoxShadow: var(--gray) 0px 10px 25px;
}
