.form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	input,
	textarea {
		border: none;
	}

	input:disabled,
	textarea:disabled {
		color: var(--black);
	}

	.roadmapData {
		label {
			margin-top: 0.5rem;
			font-size: 1.2rem;
		}
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		.nameAndDescription {
			min-width: 50%;
			margin-right: 0.5rem;
			.name {
				input {
					font-size: 3rem;
					font-weight: 500;
					padding: 0 !important;
				}
			}
			.description {
				margin-bottom: 1.5rem;
				textarea {
					font-size: 1.1rem;
					padding: 0;
					min-height: 5.5rem;
					max-width: 80ch;
				}
			}
		}
		.dates {
			display: flex;
			margin-right: auto;
			flex-grow: 1;
			min-width: max-content;
			input {
				padding: 0 !important;
			}
			span {
				font-weight: 600;
			}
			.startDate {
				margin-right: 1rem;
				max-width: 50%;
			}
			.endDate {
				margin-left: 1rem;
				max-width: 50%;
			}
		}
		.buttons {
			display: flex;
			justify-content: space-between;
			height: 4rem;
			button:first-child {
				margin-right: 1rem;
			}
			button:last-child {
				margin-left: 1rem;
			}
		}
	}
}

.form.editing {
	label {
		display: inline-block;
	}
	input,
	textarea {
		border-bottom: 1px solid gray;
	}
}
