.wrapper {
	width: clamp(300px, 70%, 100%);
	display: flex;
	flex-direction: row;
	word-wrap: break-word;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border: 1px solid var(--gray);
	border-radius: 5px;
	padding: 2em;
	margin: 1em 0;
	transition: 0.1s ease-in;

	hr {
		margin-top: 2em;
		width: 100%;
		border: none;
		border-bottom: 1px solid var(--gray);
	}

	&:hover {
		transition: 0.1s ease-in;
		background-color: rgba(0, 0, 0, 0.05);
		transform: translateY(-5px);
	}
}

.name {
	text-align: left;
	max-width: 50%;
}

.dates {
	text-align: right;
	margin-left: 1em;
	color: var(--secondaryText);
	display: flex;
	flex-direction: column;
	font-size: 1.25em;
	.dateWrapper {
		&:nth-child(n + 2) {
			margin-top: 0.5em;
		}
		.date {
			color: var(--black);
		}
	}
}

.failing {
	border: 2px solid var(--lightRed);
}
