.wrapper {
	width: clamp(300px, 100%, 100%);
	display: flex;
	flex-direction: column;
	padding: 2em;
	margin: auto auto 2em;
	form {
		label {
			display: none;
		}
	}
	.buttons {
		display: flex;
		flex-direction: row-reverse;
		margin: 0.5em;
		overflow: visible;
		button {
			padding: 0.5em;
			margin: 0 0.5em;
		}
	}
	.backgroundImage {
		display: none;
	}
	.milestones {
		width: 100%;
		.milestonesHeader {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			span {
				font-size: 3rem;
				font-weight: 500;
				margin-right: 1rem;
			}
			span + div {
				flex-grow: 1;
			}
			label {
				display: inherit;
			}
			margin: 2rem 0;
		}
	}
}
